<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>First Line</span>
        <mat-icon>favorite</mat-icon>
        <mat-icon>delete</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<header>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side">
            Sidenav content
        </mat-sidenav>

        <mat-sidenav-content>
            <p>This is a header</p>
        </mat-sidenav-content>
    </mat-sidenav-container>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <h3>This is a footer</h3>
</footer>
